<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="main-auth">
      <div class="card">
        <div class="card-header">
          <h3>Log In</h3>
        </div>
        <div class="card-body" >
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><mat-icon>alternate_email</mat-icon></span>
              </div>
              <input type="text" class="form-control" placeholder="Email" [(ngModel)]='email' >
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><mat-icon>vpn_key</mat-icon></span>
              </div>
              <input type="password" class="form-control" placeholder="Password" [(ngModel)]='passw' >
            </div>
            <div class="form-group">
              <button onClick="window.open('https://mcfam-bpms.firebaseapp.com/')" class="btn float-left login_btn">Admin</button>
              <button (click)='login()' class="btn float-right login_btn">Login</button>
            </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center">
            <a style = "color:aquamarine;" (click)="openPasswordReset()">Forgot your password?</a> &nbsp; &nbsp; &nbsp;
            <button (click)='openSignUp()' class="btn float-right footer_btn" >Sign Up</button>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
