<div class="profile">
  <mat-card>
    <div [@imageAnimation]='state' (click)="animateImage()" class="avatar" (mouseover)='hoverimage()'>
      <img [src]="fullImagePath"></div>

    <mat-card-header>
      <mat-card-title>
        <h3>{{profileTitle}}</h3>
      </mat-card-title>
      <mat-card-title>
        <h4>{{email}}</h4>
        <mat-card-subtitle>{{username}}</mat-card-subtitle>
      </mat-card-title>
    </mat-card-header>

    <hr>

    <mat-card-subtitle>
      <div mat-dialog-content [formGroup]="viewClientForm" class="clientfield">
        <mat-form-field>
          <mat-label> Username </mat-label>
          <input matInput formControlName="userName" value={{profiledetails.userName}} name="client-userName" readonly>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label> First Name </mat-label>
          <input matInput formControlName="firstName" value={{profiledetails.firstName}} name="client-firstName" readonly>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label> Last Name </mat-label>
          <input matInput formControlName="lastName" value={{profiledetails.lastName}} name="client-lastName" readonly>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label> Contact Number </mat-label>
          <input matInput formControlName="contactNumber" value={{profiledetails.contactNumber}}
            name="client-contactNumber" readonly>
        </mat-form-field>
        <br>
        <!--
        <mat-form-field>
          <mat-label> City </mat-label>
          <inpust matInput formControlName="addressCity" value={{profiledetails.addressCity}} name="client-addressCity"
            readonly>
        </mat-form-field>
      -->
        <br>
        <mat-form-field>
          <mat-label> Region </mat-label>
          <input matInput formControlName="addressRegion" value={{profiledetails.addressRegion}}
            name="client-addressRegion" readonly>
        </mat-form-field>
        <br>
      </div>
    </mat-card-subtitle>

    <mat-card-actions class="button">
      <button mat-raised-button class="primary" (click)="onPasswordReset()">Reset my password</button>
    </mat-card-actions>
  </mat-card>
</div>