<div class="profile-settings">
    <mat-card>
        <h3>My profile settings</h3>

        <form class="" [formGroup]="viewClientForm" class="form clientfield">

            <div [@imageAnimation]='state' (click)="animateImage()" class="avatar" (mouseover)='hoverimage()'
            (mouseout)='hoveroutimage()'
            >
                <img [src]="fullImagePath">
                <div class="changeprofpicdiv">
                
                    <button class="btn btn-primary changeprofpic" (click)='tochangepic()'>
                        Change profile picture
                    </button>
                    <input type="file" hidden id='profpic' (change)='changingpicfile($event)'>
                </div>

            </div>

            <mat-card-header>
                <mat-card-title>
                    <h3>{{profileTitle}}</h3>
                </mat-card-title>
                <mat-card-title>
                    <h5>{{email}}</h5>
                    <mat-card-subtitle>{{username}}</mat-card-subtitle>
                </mat-card-title>
            </mat-card-header>

            <hr>

            <mat-form-field>
                <mat-label> Username </mat-label>
                <input matInput formControlName="userName" value={{profiledetails.userName}} name="client-userName">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label> First Name </mat-label>
                <input matInput formControlName="firstName" value={{profiledetails.firstName}} name="client-firstName">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label> Last Name </mat-label>
                <input matInput formControlName="lastName" value={{profiledetails.lastName}} name="client-lastName">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label> Contact Number </mat-label>
                <input matInput formControlName="contactNumber" value={{profiledetails.contactNumber}}
                    name="client-contactNumber">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label> Street </mat-label>
                <input matInput formControlName="addressStreet" value={{profiledetails.addressStreet}}
                    name="client-addressStreet">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label> Town / Barangay </mat-label>
                <input matInput formControlName="addressTown" value={{profiledetails.addressTown}}
                    name="client-addressTown">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label> City </mat-label>
                <input matInput formControlName="addressCity" value={{profiledetails.addressCity}}
                    name="client-addressCity">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label> Region </mat-label>
                <input matInput formControlName="addressRegion" value={{profiledetails.addressRegion}}
                    name="client-addressRegion">
            </mat-form-field>
            <br>
            <button class="btn btn-success" (click)='save()'>Save</button>
        </form>

    </mat-card>
</div>