
<div>
    <section class="intro-single">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-8">
              <div class="title-single-box">
                <h1 class="title-single">Properties we're selling</h1>
              </div>
            </div>
            <div class="col-md-12 col-lg-4">
              <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a  routerLink="home" >Home</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Properties
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
    </section>

<!-- ======= Property Grid ======= -->
    <section class="property-grid grid">
        <div class="container">
        <div *ngIf="!projects"> 
            Loading
        </div>
        <div *ngIf="projects" class="row">
           
            <div class="col-sm-6">
                <div class="search">
                    <input class="form-control" type="text" name="search" [(ngModel)]="projectSearchText" autocomplete="off" placeholder="&#61442;  Search">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="grid-option">
                    <form>
                    <select class="custom-select">
                        <option selected>All</option>
                        <option value="1">New to Old</option>
                        <option value="2">For Rent</option>
                        <option value="3">For Sale</option>
                    </select>
                    </form>
                </div>
                </div>
            <div class="col-md-4" *ngFor="let project of projects | paginate:{itemsPerPage: 6, currentPage:p} | filter:projectSearchText " (click)="openViewProject(project)">
                <div class="card-box-a card-shadow">
                    <div class="img-box-a">
                    <img src="{{project.card_photo.photoURL}}" alt="" class="img-a img-fluid">
                    </div>
                    <div class="card-overlay">
                    <div class="card-overlay-a-content">
                        <div class="card-header-a">
                        <h2 class="card-title-a">
                            <a href="#"> {{project.name}} </a>
                        </h2>
                        </div>
                        <div class="card-body-a">
                        <div class="price-box d-flex">
                            <span class="price-a">{{project.saleType}} | {{project.cost}}</span>
                        </div>
                        </div>
                        <div class="card-footer-a">
                        <ul class="card-info d-flex justify-content-around">
                            <li>
                            <h4 class="card-info-title">{{project.propertyType}}</h4>
                            <span>
                                {{project.addressStreet}}, {{project.addressTown}}, {{project.addressCity}}, {{project.addressRegion}}
                            </span>
                            </li>
                        </ul>
                        </div>
                    </div>
                    </div>
                </div>
            </div>   
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="pagination">
                    <pagination-controls (pageChange)="p=$event"></pagination-controls>
                </div>
            </div>
        </div>
        </div>
    </section>
<!-- End Property Grid Single-->
</div>
