<div class = "main-home">
    <br>
    <h2 class="title-a">Featured Projects</h2>
    <div class="intro intro-carousel">
        <owl-carousel-o [options]="featuredCarousel"  >

            <ng-template carouselSlide *ngFor="let slide of featured" [id]="slide.id">
            <img class="carousel-item-a intro-item bg-image" [src]="slide.cover_photo.photoURL" >
            <div class="overlay overlay-a">
                <div class="table-cell">
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="intro-body">
                            <p class="intro-title-top">{{slide.addressCity}}, {{slide.addressRegion}}
                              <br> {{slide.addressStreet}}, {{slide.addressTown}}</p>
                            <h1 class="intro-title mb-4">
                              {{slide.name}}</h1>
                              <a href="#" class="link-a" [routerLink]="'/project'">Click here to view
                                <span class="ion-ios-arrow-forward"></span></a>
                            <p class="intro-subtitle intro-price">
                              <a href="#"><span class="price-a">{{slide.saleType}} | {{slide.cost}}</span></a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            </ng-template>

        </owl-carousel-o>
    </div>

    <!-- ======= Services Section ======= -->
    <section class="section-services section-t8">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="title-wrap d-flex justify-content-between">
                <div class="title-box">
                  <h2 class="title-a">Our Services</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="card-box-c foo">
                <div class="card-header-c d-flex">
                  <div class="card-box-ico">
                    <span class="fa fa-usd"></span>
                  </div>
                  <div class="card-title-c align-self-center">
                    <h2 class="title-c">Buy Properties</h2>
                  </div>
                </div>
                <div class="card-body-c">
                  <p class="content-c">
                    Looking to buy your own property? Check our list of available properties for sale!
                  </p>
                </div>
                <div class="card-footer-c">
                  <a [routerLink]="'/project'" class="link-c link-icon">View Properties
                    <mat-icon>keyboard_arrow_right</mat-icon>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card-box-c foo">
                <div class="card-header-c d-flex">
                  <div class="card-box-ico">
                    <span class="fa fa-home"></span>
                  </div>
                  <div class="card-title-c align-self-center">
                    <h2 class="title-c">Sell Properties</h2>
                  </div>
                </div>
                <div class="card-body-c">
                  <p class="content-c">
                    Planning to sell your property? Login or register below!
                  </p>
                </div>
                <div class="card-footer-c">
                    <div *ngIf="!authService.isAuthenticated();">
                        <a routerLink="/auth" class="link-c link-icon">Log in first
                            <mat-icon>keyboard_arrow_right</mat-icon>
                        </a>
                    </div>
                    <div *ngIf="authService.isAuthenticated();">
                        <a routerLink="contact" class="link-c link-icon">Contact Us
                            <mat-icon>keyboard_arrow_right</mat-icon>
                        </a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Services Section -->

      <!-- ======= Latest Properties Section ======= -->
      <section class="section-property section-t8">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="title-wrap d-flex justify-content-between">
                <div class="title-box">
                  <h2 class="title-a">Latest Properties</h2>
                </div>
                <div class="title-link">
                  <a href="property-grid.html">All Property
                    <span class="ion-ios-arrow-forward"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <owl-carousel-o [options]="propertyCarousel" >

            <ng-template carouselSlide *ngFor="let slide of featured" [id]="slide.id">
                <div class="carousel-item-b">
                    <div class="card-box-a card-shadow">
                      <div class="img-box-a">
                        <img [src]="slide.cover_photo.photoURL" class="img-a img-fluid">
                      </div>
                      <div class="card-overlay">
                        <div class="card-overlay-a-content">
                          <div class="card-header-a">
                            <h2 class="card-title-a">
                              {{slide.name}}
                            </h2>
                          </div>
                          <div class="card-body-a">
                            <div class="price-box d-flex">
                              <span class="price-a">{{slide.saleType}} | {{slide.cost}}</span>
                            </div>
                            <a href="#" class="link-a" [routerLink]="'/project'">Click here to view
                              <span class="ion-ios-arrow-forward"></span>
                            </a>
                          </div>
                          <div class="card-footer-a">
                            <ul class="card-info d-flex justify-content-around">
                                <p class="content-d color-text-a">
                                  {{slide.addressStreet}}, {{slide.addressTown}}, {{slide.addressCity}}, {{slide.addressRegion}}
                                </p>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

            </ng-template>

        </owl-carousel-o>
        </div>
      </section><!-- End Latest Properties Section -->

      <!-- ======= Agents Section ======= -->
      <section class="section-agents section-t8">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="title-wrap d-flex justify-content-between">
                <div class="title-box">
                  <h2 class="title-a">Best Agents</h2>
                </div>
                <div class="title-link">
                  <a href="agents-grid.html">All Agents
                    <span class="ion-ios-arrow-forward"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <owl-carousel-o [options]="propertyCarousel" >

            <ng-template carouselSlide *ngFor="let slide of agents" [id]="slide.contactNumber">
                <div class="carousel-item-b">
                    <div class="card-box-a card-shadow">
                      <div class="img-box-a">
                        <img [src]="slide.photoURL.photoURL" class="img-a img-fluid">
                      </div>
                      <div class="card-overlay">
                        <div class="card-overlay-a-content">
                          <div class="card-header-a">
                            <h2 class="card-title-a">
                              {{slide.fullName}}
                            </h2>
                          </div>
                          <div class="card-body-a">
                            <div class="price-box d-flex">
                              <span class="price-a">{{slide.aveRating}} Stars</span>
                            </div>
                          </div>
                          <div class="card-footer-a">
                            <ul class="card-info d-flex justify-content-around">
                                <p class="content-d color-text-a">
                                  {{slide.email}}, {{slide.contactNumber}}
                                </p>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

            </ng-template>

        </owl-carousel-o>
        </div>
      </section><!-- End Agents Section -->
    <br>
    <br>
    <br>
    <br>
</div>

