<h2 mat-dialog-title>Upload Documents</h2>
<div mat-dialog-content>
    <div *ngFor='let tup of toUpload; let indexOfelement=index'>
        <h5> {{tup.desc}} </h5>
        
        <button class="btn btn-primary" id='upbtn_{{indexOfelement}}' (click)='upclick(indexOfelement)' >Upload</button>
        <input type='file' id='up_{{indexOfelement}}' hidden (change)='selectFile($event)'>
        &nbsp;<span id='file_indic_{{indexOfelement}}'></span>

        <br>
    </div>
    
    <h5> Others: </h5>
    
    <button class="btn btn-primary" id='otherfilebtn' (click)='otherclick()'>Upload</button>
    <input type='file' id='otherfile' hidden (change)='selectFileOthers($event)' multiple>
    &nbsp;<span id='otherdesc'></span>
    <br>
</div>
<div mat-dialog-actions class="thisaction">
    <span  *ngIf="upload_perc | async as progress">
        Uploading <span id="currload"></span>/<span id="totalload"></span>...<br>
        <button class="progress_bar well btn">

            <div class="progress_bar_indic" [ngStyle]="{ 'width': progress + '%' }"></div>

        </button>
        <br>
    </span>
    
    <button mat-button (click)="uploadDocuments()">Upload</button>
    <button mat-button (click)="onNoClick()">Back</button>
</div>