/* You can add global styles to this file, and also import other style files */
/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev
*/

@import '~@angular/material/theming';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
     
$fontConfig: (
  display-4: mat-typography-level(112px, 112px, 300, 'Roboto', -0.0134em),
  display-3: mat-typography-level(56px, 56px, 400, 'Roboto', -0.0089em),
  display-2: mat-typography-level(45px, 48px, 400, 'Roboto', 0.0000em),
  display-1: mat-typography-level(34px, 40px, 400, 'Roboto', 0.0074em),
  headline: mat-typography-level(24px, 32px, 400, 'Roboto', 0.0000em),
  title: mat-typography-level(20px, 32px, 500, 'Roboto', 0.0075em),
  subheading-2: mat-typography-level(16px, 28px, 400, 'Roboto', 0.0094em),
  subheading-1: mat-typography-level(15px, 24px, 500, 'Roboto', 0.0067em),
  body-2: mat-typography-level(14px, 24px, 500, 'Roboto', 0.0179em),
  body-1: mat-typography-level(14px, 20px, 400, 'Roboto', 0.0179em),
  button: mat-typography-level(14px, 14px, 500, 'Roboto', 0.0893em),
  caption: mat-typography-level(12px, 20px, 400, 'Roboto', 0.0333em),
  input: mat-typography-level(inherit, 1.125, 400, 'Roboto', 1.5px)
);

// Foreground Elements

// Light Theme Text
$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-light-theme-foreground: (
  base:              black,
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $dark-disabled-text,
  disabled-button:   rgba($dark-text, 0.26),
  disabled-text:     $dark-disabled-text,
  elevation:         black,
  secondary-text:    $dark-accent-text,
  hint-text:         $dark-disabled-text,
  accent-text:       $dark-accent-text,
  icon:              $dark-accent-text,
  icons:             $dark-accent-text,
  text:              $dark-primary-text,
  slider-min:        $dark-primary-text,
  slider-off:        rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text,
);

// Dark Theme text
$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
  base:              $light-text,
  divider:           $light-dividers,
  dividers:          $light-dividers,
  disabled:          $light-disabled-text,
  disabled-button:   rgba($light-text, 0.3),
  disabled-text:     $light-disabled-text,
  elevation:         black,
  hint-text:         $light-disabled-text,
  secondary-text:    $light-accent-text,
  accent-text:       $light-accent-text,
  icon:              $light-text,
  icons:             $light-text,
  text:              $light-text,
  slider-min:        $light-text,
  slider-off:        rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3),
);

// Background config
// Light bg
$light-background:    #bfe0e6;
$light-bg-darker-5:   darken($light-background, 5%);
$light-bg-darker-10:  darken($light-background, 10%);
$light-bg-darker-20:  darken($light-background, 20%);
$light-bg-darker-30:  darken($light-background, 30%);
$light-bg-lighter-5:  lighten($light-background, 5%);
$dark-bg-alpha-4:     rgba(#2c2c2c, 0.04);
$dark-bg-alpha-12:    rgba(#2c2c2c, 0.12);

$mat-light-theme-background: (
  background:               $light-background,
  status-bar:               $light-bg-darker-20,
  app-bar:                  $light-bg-darker-5,
  hover:                    $dark-bg-alpha-4,
  card:                     $light-bg-lighter-5,
  dialog:                   $light-bg-lighter-5,
  disabled-button:          $dark-bg-alpha-12,
  raised-button:            $light-bg-lighter-5,
  focused-button:           $dark-focused,
  selected-button:          $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle:   $light-bg-darker-10,
  unselected-chip:          $light-bg-darker-10,
  disabled-list-option:     $light-bg-darker-10,
);

// Dark bg
$dark-background:     #2c2c2c;
$dark-bg-lighter-5:   lighten($dark-background, 5%);
$dark-bg-lighter-10:  lighten($dark-background, 10%);
$dark-bg-lighter-20:  lighten($dark-background, 20%);
$dark-bg-lighter-30:  lighten($dark-background, 30%);
$light-bg-alpha-4:    rgba(#bfe0e6, 0.04);
$light-bg-alpha-12:   rgba(#bfe0e6, 0.12);

// Background palette for dark themes.
$mat-dark-theme-background: (
  background:               $dark-background,
  status-bar:               $dark-bg-lighter-20,
  app-bar:                  $dark-bg-lighter-5,
  hover:                    $light-bg-alpha-4,
  card:                     $dark-bg-lighter-5,
  dialog:                   $dark-bg-lighter-5,
  disabled-button:          $light-bg-alpha-12,
  raised-button:            $dark-bg-lighter-5,
  focused-button:           $light-focused,
  selected-button:          $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle:   $dark-bg-lighter-10,
  unselected-chip:          $dark-bg-lighter-20,
  disabled-list-option:     $dark-bg-lighter-10,
);

// Compute font config
@include mat-core($fontConfig);

// Theme Config

body {
  --primary-color: #3063ad;
  --primary-lighter-color: #c1d0e6;
  --primary-darker-color: #1e4793;
  --text-primary-color: #{$light-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$light-primary-text};
}

$mat-primary: (
  main: #3063ad,
  lighter: #c1d0e6,
  darker: #1e4793,
  200: #3063ad, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-primary: mat-palette($mat-primary, main, lighter, darker);

body {
  --accent-color: #797979;
  --accent-lighter-color: #d7d7d7;
  --accent-darker-color: #5c5c5c;
  --text-accent-color: #{$light-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$light-primary-text};
}

$mat-accent: (
  main: #797979,
  lighter: #d7d7d7,
  darker: #5c5c5c,
  200: #797979, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);

body {
  --warn-color: #ff0000;
  --warn-lighter-color: #ffb3b3;
  --warn-darker-color: #ff0000;
  --text-warn-color: #{$light-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$light-primary-text};
}

$mat-warn: (
  main: #ff0000,
  lighter: #ffb3b3,
  darker: #ff0000,
  200: #ff0000, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-warn: mat-palette($mat-warn, main, lighter, darker);;

$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);
$altTheme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);

// Theme Init
@include angular-material-theme($theme);

.theme-alternate {
  @include angular-material-theme($altTheme);
}


// Specific component overrides, pieces that are not in line with the general theming

// Handle buttons appropriately, with respect to line-height
.mat-raised-button, .mat-stroked-button, .mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 36.4px
}

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}

@import "~bootstrap/dist/css/bootstrap.css";


body {
    background-color: #f7f7f7;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

}

/* Tablet format and lower */
@media only screen and (max-width: 1024px) {

}

/* Mobile format and lower */
@media only screen and (max-width: 768px) {

}

/* Mobile format landscape (wide) */
@media only screen and (min-width: 320px) and (max-width: 480px) {

}

/* Mobile format portrait (small) */
@media only screen and (max-width: 320px) {

}

.main {
  margin: 15px;;
  margin-top: 90px;
}

/* USER LIST TABLE */
/* TABLES */
.table-img {
	img {
		border-radius: 100px;
		-webkit-border-radius: 100px;
		-o-border-radius: 100px;
		-moz-border-radius: 100px;
		-ms-border-radius: 100px;
	}
}
.user-list {
	tbody {
		td {
			>img {
				position: relative;
				max-width: 50px;
				float: left;
				margin-right: 15px;
			}
			.user-link {
				display: block;
				font-size: 2em;
				padding-top: 3px;
				margin-left: 60px;
			}
			.user-subhead {
				font-size: 0.875em;
				font-style: italic;
			}
		}
	}
}
.table {
	border-collapse: separate;
	thead {
		>tr {
			>th {
				border-bottom: 1px solid #C2C2C2;
				padding-bottom: 0;
				&:first-child {
					padding-left: 20px;
				}
				span {
					border-bottom: 2px solid #C2C2C2;
					display: inline-block;
					padding: 0 5px;
					padding-bottom: 5px;
					font-weight: bold;
					font-size: 21px;
				}
			}
		}
	}
	tbody {
		>tr {
			>td {
				font-size: 11px;
				background: #f5f5f5;
				border-top: 10px solid #fff;
				vertical-align: middle;
				padding: 12px 8px;
				&:first-child {
					padding-left: 20px;
				}
			}
		}
	}
}
.table-hover {
	>tbody {
		>tr {
			&:hover {
				>td {
					background-color: #eee;
				}
				>th {
					background-color: #eee;
				}
			}
		}
	}
}
.table.table-hover {
	tbody {
		>tr {
			>td {
				-webkit-transition: background-color 0.15s ease-in-out 0s;
				transition: background-color 0.15s ease-in-out 0s;
			}
		}
	}
}
.search {
	font-size: 18px;
    max-width: 500px;
    min-height: 100px;
	padding-bottom: 15px;
	padding-left: 15px;
}

.form-control {
    min-height: 60px;
}

.table-inbox {
    border: 1px solid #d3d3d3;
    margin-bottom: 0;
}
.table-inbox tr td {
    padding: 12px !important;
}
.table-inbox tr td:hover {
    cursor: pointer;
}

.mat-drawer-content {
    background-color: rgb(197, 221, 241);
}




/**
* Template Name: EstateAgency - v2.0.0
* Template URL: https://bootstrapmade.com/real-estate-agency-bootstrap-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  font-family: 'Poppins', sans-serif;
  color: #555555;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
}

a {
  color: #000000;
  transition: all .5s ease;

  &:hover {
    color: #85a6d8;
    text-decoration: none;
  }
}

.link-two {
  color: #000000;
  transition: all .5s ease;

  &:hover {
    text-decoration: underline;
    color: #000000;
  }
}

.link-one {
  color: #000000;
  transition: all .5s ease;

  &:hover {
    color: #000000;
    text-decoration: none;
  }
}

.link-icon {
  color: #000000;
  font-weight: 500;

  span {
    font-size: 14px;
    padding-left: 4px;
    vertical-align: middle;
  }
}

.link-a {
  color: #ffffff;
  text-decoration: none;

  &:hover {
    color: #ffffff;
    text-decoration: none;
  }

  span {
    font-size: 18px;
    vertical-align: middle;
    margin-left: 5px;
  }
}

@media (min-width: 768px) {
  .link-a {
    font-size: .9rem;
  }
}

@media (min-width: 992px) {
  .link-a {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .link-a span {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .link-a span {
    font-size: 18px;
  }
}

.text-brand {
  color: #000000;
  font-size: 2rem;
  font-weight: 600;
}

@media (max-width: 767px) {
  .text-brand {
    font-size: 1.8rem;
  }
}

.color-a {
  color: #000000;
}

.color-b {
  color: #85a6d8;
}

.color-d {
  color: #adadad;
}

.color-text-a {
  color: #555555;
}

.no-margin {
  margin: 0;
}

/*------/ Nav Pills  /------*/

.nav-pills-a.nav-pills .nav-link {
  color: #000000;
  position: relative;
  font-weight: 600;

  &.active {
    background-color: transparent;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 2px;
      background-color: #85a6d8;
      z-index: 2;
    }
  }
}

/*------/ Bg Image /------*/

.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

/*------/ List a /------*/

.list-a {
  display: inline-block;
  line-height: 2;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    width: 50%;
    float: left;
    padding-left: 25px;
    padding-right: 5px;

    &:before {
      content: '';
      width: 10px;
      height: 2px;
      position: absolute;
      background-color: #313131;
      top: 15px;
      left: 0;
    }
  }
}

@media (min-width: 992px) {
  .list-a li {
    width: 33.333%;
  }
}

/*------/ Pagination-a /------*/

.pagination-a .pagination {
  .page-link {
    margin: 0 .2rem;
    border-color: transparent;
    padding: .5rem .8rem;
    color: #000000;

    &:hover, &:active, &:focus {
      background-color: #85a6d8;
    }

    span {
      font-size: 1.2rem;
    }
  }

  .next .page-link {
    padding: .4rem .9rem;
  }

  .page-item {
    &:last-child .page-link {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:first-child .page-link {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &.disabled .page-link {
      padding: .4rem .9rem;
      color: #555555;
    }

    &.active .page-link {
      background-color: #85a6d8;
    }
  }
}

.a {
  color: #85a6d8;
  font-size: 1.3rem;
}

/*------/ Icon Box /------*/

.icon-box {
  .icon-box-icon {
    display: table-cell;
    vertical-align: top;
    font-size: 36px;
    color: #000000;
    width: 50px;
    padding-top: 8px;
  }

  .icon-box-content {
    padding-top: 18px;
  }
}

/*------/ Space Padding /------*/

/*------/.section-t8 {
  padding-top: 8rem;
}/------*/

@media (max-width: 767px) {
  .section-t8 {
    padding-top: 4rem;
  }
}

.section-t4 {
  padding-top: 4rem;
}

@media (max-width: 767px) {
  .section-t4 {
    padding-top: 2rem;
  }
}

.section-t3 {
  padding-top: 3rem;
}

@media (max-width: 767px) {
  .section-md-t3 {
    padding-top: 3rem;
  }
}

.section-b2 {
  padding-bottom: 2rem;
}

.section-tb85 {
  padding: 8rem 0 5rem 0;
}

@media (max-width: 767px) {
  .section-tb85 {
    padding: 4rem 0 2.5rem 0;
  }
}

/*------/ Title /------*/

.title-wrap {
  padding-bottom: 4rem;
}

.title-a {
  font-size: 2.6rem;
  font-weight: 600;
}

.title-link {
  font-size: 1.2rem;
  font-weight: 300;
  padding-top: 1.2rem;

  a {
    color: #313131;
  }

  span {
    font-size: 20px;
    padding-left: 4px;
    vertical-align: middle;
  }
}

.title-box-d {
  padding-bottom: 1.8rem;
  margin-bottom: 1rem;
  position: relative;

  .title-d {
    font-weight: 600;
    font-size: 2rem;

    &:after {
      content: '';
      position: absolute;
      width: 70px;
      height: 4px;
      background-color: #85a6d8;
      bottom: 20px;
      left: 0;
    }
  }
}

/*------/ Display Table & Table Cell /------*/

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

/*------/ Ul Resect /------*/

.ul-resect ul, .list-a ul, .box-comments ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

/*------/ Overlay /------*/

.overlay-a {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 27%, rgba(0, 0, 0, 0.65) 90%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  margin-top : 300px;
}

/*------/ Owl carousel /------*/

.owl-theme .owl-dots {
  text-align: center;
  margin-top: 18px;

  .owl-dot {
    display: inline-block;

    span {
      width: 16px;
      height: 9px;
      margin: 5px 5px;
      background: #000000;
      border: 0px solid #000000;
      display: block;
      transition: all 0.6s ease-in-out;
      cursor: pointer;
      border-radius: 0px;
    }

    &:hover span {
      background-color: #85a6d8;
    }

    &.active span {
      background-color: #85a6d8;
      width: 35px;
    }
  }
}

.owl-arrow .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.8rem;

  .owl-prev, .owl-next {
    display: inline-block;
    transition: all 0.6s ease-in-out;
    color: #000000;
  }

  .owl-prev.disabled {
    transition: all 0.6s ease-in-out;
    color: #adadad;
  }

  .owl-next {
    &.disabled {
      transition: all 0.6s ease-in-out;
      color: #adadad;
    }

    margin-left: 15px;
  }
}

.nav-arrow-a .owl-arrow .owl-nav {
  font-size: 1.8rem;
  margin-top: -110px;

  .owl-next {
    margin-left: 15px;
  }
}

.nav-arrow-b .owl-arrow .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2rem;

  .owl-prev, .owl-next {
    padding: .7rem 1.5rem !important;
    display: inline-block;
    transition: all 0.6s ease-in-out;
    color: #ffffff;
    background-color: #85a6d8;
    opacity: .9;
  }

  .owl-prev.disabled, .owl-next.disabled {
    transition: all 0.6s ease-in-out;
    color: #ffffff;
  }

  .owl-prev:hover {
    background-color: #26a356;
  }

  .owl-next {
    &:hover {
      background-color: #26a356;
    }

    margin-left: 0px;
  }
}

/*------/ Socials /------*/

.socials-a .list-inline-item:not(:last-child) {
  margin-right: 25px;
}

/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: #85a6d8;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;

  i {
    padding-top: 12px;
    color: #fff;
  }
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

/* Prelaoder */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;

  &:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #85a6d8;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*======================================
//--//-->   BUTTON
======================================*/

.btn {
  transition: .5s ease;

  &.btn-a, &.btn-b {
    border-radius: 0;
    padding: 1rem 3rem;
    letter-spacing: .05rem;
  }

  &.btn-a {
    background-color: #000000;
    color: #ffffff;

    &:hover {
      background-color: #85a6d8;
      color: #000000;
    }
  }

  &.btn-b {
    background-color: #85a6d8;
    color: #000000;

    &:hover {
      background-color: #000000;
      color: #ffffff;
    }
  }

  &.btn-b-n {
    background-color: #85a6d8;
    color: #ffffff;
    border-radius: 0;

    &:hover {
      background-color: #26a356;
      color: #ffffff;
    }
  }
}

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/

.navbar-default {
  transition: all .5s ease-in-out;
  background-color: #3063ad;
  padding-top: 14px;
  padding-bottom: 14px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);

  .nav-search {
    color: #000000;
    font-size: 1.5rem;
  }

  &.navbar-reduce {
    box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);
  }

  &.navbar-trans, &.navbar-reduce {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &.navbar-trans .nav-item, &.navbar-reduce .nav-item {
    position: relative;
    padding-right: 10px;
    padding-bottom: 8px;
    margin-left: 0;
  }

  &.navbar-trans .nav-link, &.navbar-reduce .nav-link {
    font-size: 1.1rem;
    color: #000000;
    font-weight: 600;
    letter-spacing: 0.030em;
    transition: all 0.1s ease-in-out;
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }

  &.navbar-trans .nav-link:before, &.navbar-reduce .nav-link:before {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: 0;
    background-color: #85a6d8;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .2s ease-out, opacity .2s ease-out 0.3s;
  }

  &.navbar-trans .nav-link:hover, &.navbar-reduce .nav-link:hover {
    color: #000000;
  }

  &.navbar-trans .nav-link:hover:before, &.navbar-reduce .nav-link:hover:before {
    transform: scaleX(1);
    transform-origin: left;
  }

  &.navbar-trans {
    .show > .nav-link:before, .active > .nav-link:before {
      transform: scaleX(1);
    }

    .nav-link {
      &.show:before, &.active:before {
        transform: scaleX(1);
      }
    }
  }

  &.navbar-reduce {
    .show > .nav-link:before, .active > .nav-link:before {
      transform: scaleX(1);
    }

    .nav-link {
      &.show:before, &.active:before {
        transform: scaleX(1);
      }
    }
  }

  &.navbar-trans {
    .nav-link {
      &:before {
        background-color: #85a6d8;
      }

      &:hover {
        color: #000000;
      }
    }

    .show > .nav-link, .active > .nav-link {
      color: #000000;
    }

    .nav-link {
      &.show, &.active {
        color: #000000;
      }
    }
  }

  &.navbar-reduce {
    transition: all .5s ease-in-out;
    padding-top: 19px;
    padding-bottom: 19px;

    .nav-link {
      color: #000000;

      &:before {
        background-color: #85a6d8;
      }

      &:hover {
        color: #000000;
      }
    }

    .show > .nav-link, .active > .nav-link {
      color: #000000;
    }

    .nav-link {
      &.show, &.active {
        color: #000000;
      }
    }

    .navbar-brand {
      color: #000000;
    }
  }

  .dropdown {
    .dropdown-menu {
      border-top: 0;
      border-left: 4px solid #85a6d8;
      border-right: 0;
      border-bottom: 0;
      transform: translate3d(0px, -40px, 0px);
      opacity: 0;
      filter: alpha(opacity = 0);
      visibility: hidden;
      transition: all 0.5s cubic-bezier(0.3, 0.65, 0.355, 1) 0s, opacity 0.31s ease 0s, height 0s linear 0.36s;
      margin: 0;
      border-radius: 0;
      padding: 12px 0;

      .dropdown-item {
        padding: 12px 18px;
        transition: all 500ms ease;
        font-weight: 600;
        min-width: 220px;

        &:hover {
          background-color: #ffffff;
          color: #85a6d8;
          transition: all 500ms ease;
        }

        &.active {
          background-color: #ffffff;
          color: #85a6d8;
        }
      }
    }

    &:hover .dropdown-menu {
      transform: translate3d(0px, 0px, 0px);
      visibility: visible;
      opacity: 1;
      filter: alpha(opacity = 1);
    }
  }
}

@media (min-width: 768px) {
  .navbar-default {
    &.navbar-trans .nav-item, &.navbar-reduce .nav-item {
      margin-left: 15px;
    }
  }
}

@media (min-width: 768px) {
  .navbar-default .dropdown .dropdown-menu {
    border-top: 4px solid #85a6d8;
    border-left: 0;
    display: block;
    position: absolute;
    box-shadow: 0 2px rgba(17, 16, 15, 0.1), 0 2px 10px rgba(20, 19, 18, 0.1);
  }
}

/*------/ Hamburger Navbar /------*/

.navbar-toggler {
  position: relative;

  &:focus, &:active {
    outline: 0;
  }

  span {
    display: block;
    background-color: #000000;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    transform: rotate(0deg);
    left: 0;
    opacity: 1;

    &:nth-child(1), &:nth-child(3) {
      transition: transform .35s ease-in-out;
    }
  }

  &:not(.collapsed) span {
    &:nth-child(1) {
      position: absolute;
      left: 12px;
      top: 10px;
      transform: rotate(135deg);
      opacity: 0.9;
    }

    &:nth-child(2) {
      height: 12px;
      visibility: hidden;
      background-color: transparent;
    }

    &:nth-child(3) {
      position: absolute;
      left: 12px;
      top: 10px;
      transform: rotate(-135deg);
      opacity: 0.9;
    }
  }
}

/*======================================
//--//-->   BOX COLAPSE
======================================*/

.box-collapse {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 1040;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: all 0.6s ease;

  .title-box-d {
    top: 30px;
    left: 60px;
    opacity: 0;
    transition: all 1s ease;
    transition-delay: .3s;
  }
}

@media (min-width: 768px) {
  .box-collapse {
    width: 50%;
  }
}

@media (max-width: 575px) {
  .box-collapse .title-box-d {
    left: 35px;
  }
}

@media (max-width: 575px) {
  .box-collapse .title-box-d .title-d {
    font-size: 1.3rem;
  }
}

.box-collapse-wrap {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 6.5rem;
  bottom: 5rem;
  padding-left: 10%;
  padding-right: 10%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  transform: translateY(3rem);
  transition: transform 0.5s 0.5s ease, opacity 0.5s 0.5s ease;
}

.box-collapse-open {
  .click-closed {
    visibility: visible;
  }

  .box-collapse {
    transform: translateX(0);
    box-shadow: 0 0 65px rgba(0, 0, 0, 0.07);
    opacity: 1;

    .title-box-d {
      transform: translate(0);
      opacity: 1;
    }
  }

  .box-collapse-wrap {
    transform: translate(0);
    opacity: 1;
  }
}

.box-collapse-closed .box-collapse {
  opacity: .7;
  transition-delay: 0s;

  .title-box-d, .form-a {
    opacity: 0;
    transition-delay: 0s;
  }
}

.click-closed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 1035;
  background-color: #000000;
  opacity: .4;
}

.close-box-collapse {
  position: absolute;
  z-index: 1050;
  top: 2rem;
  font-size: 3.5rem;
  line-height: 1;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease;
}

.right-boxed {
  right: 4.2857rem;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

.intro {
  height: 100vh;
  position: relative;
  color: #ffffff;

  .owl-theme .owl-dots {
    position: absolute;
    bottom: 70px;
    right: 50px;

    .owl-dot {
      span {
        background: #ffffff;
        border: 0px solid #ffffff;
      }

      &:hover span, &.active span {
        background-color: #85a6d8;
      }
    }
  }

  .intro-item {
    padding-top: 2rem;
  }

  .carousel-item-a {
    position: relative;
    height: 100vh;

    &.bg-image {
      background-attachment: scroll;
    }
  }

  .intro-content {
    position: absolute;
  }

  .intro-body {
    padding-left: 1rem;

    .price-a {
      color: #ffffff;
      padding: 1rem 1.5rem;
      border: 2px solid #85a6d8;
      border-radius: 50px;
      text-transform: uppercase;
      letter-spacing: 0.030em;
    }
  }

  .spacial {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
    color: #ffffff;
  }

  .intro-title-top {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
    margin-bottom: 1rem;
    font-size: .9rem;
    color: #ffffff;
    letter-spacing: .05em;
  }

  .intro-title {
    transition-duration: 9s !important;
    color: #ffffff;
    font-weight: 700;
    font-size: 2.8rem;
    text-transform: uppercase;
  }

  .intro-subtitle {
    font-size: 1.5rem;
    font-weight: 300;

    &.intro-price {
      padding-top: 1rem;
      font-size: 1.2rem;
    }
  }
}

@media (min-width: 768px) {
  .intro .owl-theme .owl-dots {
    right: 200px;
  }
}

@media (min-width: 768px) {
  .intro .intro-body {
    padding-left: 2rem;
  }
}

@media (min-width: 768px) {
  .intro .intro-title-top {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 992px) {
  .intro .intro-title-top {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 576px) {
  .intro .intro-title {
    font-size: 3.5rem;
  }
}

@media (min-width: 768px) {
  .intro .intro-title {
    font-size: 4rem;
  }
}

@media (min-width: 992px) {
  .intro .intro-title {
    font-size: 4.5rem;
  }
}

@media (min-width: 768px) {
  .intro .intro-subtitle {
    font-size: 2.5rem;
  }
}

@media (min-width: 576px) {
  .intro .intro-subtitle.intro-price {
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
  .intro .intro-subtitle.intro-price {
    padding-top: 2rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .intro .intro-subtitle.intro-price {
    padding-top: 3rem;
  }
}

/*------/ Intro Single /------*/

.intro-single {
  padding: 12rem 0 3rem;

  .title-single-box {
    padding: 1rem 0 1rem 2rem;
    border-left: 3px solid #85a6d8;

    .title-single {
      font-weight: 600;
      font-size: 2.2rem;
    }
  }

  .breadcrumb-box {
    padding: 1rem 0 0 .5rem;
  }

  .breadcrumb {
    background-color: transparent;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .intro-single {
    padding-top: 9rem;
  }
}

@media (min-width: 768px) {
  .intro-single .title-single-box .title-single {
    font-size: 2.1rem;
  }
}

@media (min-width: 992px) {
  .intro-single .title-single-box .title-single {
    font-size: 2.5rem;
  }
}

/*--------------------------------------------------------------
# Card General
--------------------------------------------------------------*/


@media (max-width: 767px) {
  .card-box-a, .card-box-b, .card-box-c, .card-box-d {
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 768px) {
  .grid {
    .card-box-a, .card-box-b, .card-box-c, .card-box-d {
      margin-bottom: 2.5rem;
    }
  }
}

.card-box-a, .card-box-b, .card-box-d {
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-box-a {
  .img-a, .img-b {
    transition: .8s all ease-in-out;
  }
}

.card-box-b {
  .img-a, .img-b {
    transition: .8s all ease-in-out;
  }
}

@media (min-width: 768px) {
  .card-box-a:hover {
    .img-a, .img-b {
      transform: scale(1.2);
    }
  }

  .card-box-b:hover {
    .img-a, .img-b {
      transform: scale(1.2);
    }
  }
}

@media (min-width: 768px) {
  .card-box-a .price-a, .card-box-b .price-a {
    font-size: .9rem;
  }
}

@media (min-width: 992px) {
  .card-box-a .price-a, .card-box-b .price-a {
    font-size: 1rem;
  }
}

.card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.card-shadow {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 27%, rgba(0, 0, 0, 0.65) 90%);
  }
}

/*======================================
//--//-->   PROPERTY - CARD-A
======================================*/
@media (min-width: 768px) {
  .card-box-a:hover .card-overlay-a-content {
    bottom: 60px;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  .card-box-a:hover .card-overlay-a-content {
    bottom: 60px;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .card-box-a:hover .card-overlay-a-content {
    bottom: 64px;
  }
}

@media (min-width: 768px) {
  .card-box-a:hover .card-body-a {
    padding-bottom: 1rem;
  }
}

@media (max-width: 767px) {
  .card-box-a {
    .card-overlay-a-content {
      bottom: 65px;
    }

    .card-body-a {
      padding-bottom: 1rem;
    }
  }
}

.card-overlay-a-content {
  transition: all .5s ease-in;
  position: absolute;
  width: 100%;
  bottom: 0px;
  z-index: 2;
}

@media (min-width: 768px) {
  .card-overlay-a-content {
    bottom: -20px;
  }
}

@media (min-width: 992px) {
  .card-overlay-a-content {
    bottom: 0px;
  }
}

.card-header-a {
  padding: 0 1rem;

  .card-title-a {
    color: #ffffff;
    margin-bottom: 0;
    padding-bottom: .7rem;

    a {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

@media (min-width: 768px) {
  .card-header-a .card-title-a {
    font-size: 1.3rem;
  }
}

@media (min-width: 992px) {
  .card-header-a .card-title-a {
    font-size: 2rem;
  }
}

.card-body-a {
  z-index: 2;
  transition: all .5s ease-in;
  padding: 0rem 1rem 2rem 1rem;

  .price-box {
    padding-bottom: .5rem;
  }
}

.price-a {
  color: #ffffff;
  padding: .6rem .8rem;
  border: 2px solid #85a6d8;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 0.030em;
}

.card-footer-a {
  width: 100%;
  position: absolute;
  z-index: 2;
  background-color: #85a6d8;
}

.card-info {
  list-style: none;
  margin-bottom: 0;
  padding: .5rem 0;

  .card-info-title {
    font-size: 1rem;
    color: #313131;
  }

  li span {
    color: #ffffff;
    font-size: .9rem;
  }
}

@media (min-width: 768px) {
  .card-info .card-info-title {
    font-size: .9rem;
  }
}

@media (min-width: 992px) {
  .card-info .card-info-title {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .card-info li span {
    font-size: .8rem;
  }
}

@media (min-width: 992px) {
  .card-info li span {
    font-size: 1rem;
  }
}

/*------/ Property Grid /-----*/

.property-grid .grid-option {
  text-align: right;
  margin-bottom: 2rem;

  .custom-select {
    border-radius: 0;
    width: 200px;
    border-color: #313131;

    &:hover, &:active, &:focus, option {
      border-color: #313131;
    }
  }
}

/*------/ Property Single /-----*/

.gallery-property {
  margin-bottom: 3rem;
}

.property-price {
  margin: 0 auto;

  .card-header-c {
    padding: 0;
  }
}

.summary-list {
  padding-right: 1rem;
  color: #000000;

  .list {
    padding: 0;
    line-height: 2;

    span {
      color: #555555;
    }
  }
}

@media (max-width: 767px) {
  .property-agent {
    margin-top: 2.5rem;
  }
}

.property-agent {
  .title-agent {
    font-weight: 600;
  }

  ul {
    line-height: 2;
    color: #000000;
  }

  .socials-a {
    text-align: center;
  }
}

@media (max-width: 991px) {
  .property-contact {
    margin-top: 2.5rem;
  }
}

/*======================================
//--//-->   NEWS - CARD-B
======================================*/

.card-header-b {
  padding: 1rem;
  color: #ffffff;
  position: absolute;
  bottom: 20px;
  z-index: 2;

  .category-b {
    font-size: .9rem;
    background-color: #85a6d8;
    padding: .3rem .7rem;
    color: #313131;
    letter-spacing: 0.030em;
    border-radius: 50px;
    text-decoration: none;
  }

  .title-2 {
    margin-bottom: 0;
    padding: .6rem 0;
    font-size: 1.5rem;

    a {
      color: #ffffff;
      text-decoration: none;
    }
  }

  .date-b {
    color: #d8d8d8;
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .card-header-b {
    bottom: 0px;
  }
}

@media (min-width: 992px) {
  .card-header-b {
    bottom: 20px;
  }
}

@media (min-width: 768px) {
  .card-header-b .title-2 {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .card-header-b .title-2 {
    font-size: 1.6rem;
  }
}

@media (min-width: 768px) {
  .card-header-b .date-b {
    font-size: .9rem;
  }
}

@media (min-width: 992px) {
  .card-header-b .date-b {
    font-size: 1rem;
  }
}

/*------/ News Single /------*/

.post-information {
  padding: 3rem 0;
}

.post-content {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.6;

  .post-intro {
    font-size: 1.7rem;
    font-weight: 300;
    margin-bottom: 4rem;
    line-height: 1.6;
    color: #000000;
    font-weight: 400;
  }

  p {
    margin-bottom: 1.7rem;
  }

  .blockquote {
    padding: 1rem 3rem 1.7rem 3rem;
    border-left: 3px solid #85a6d8;
    color: #000000;

    footer {
      text-align: left;
      padding: 0;
    }
  }
}

.post-footer {
  padding: 3rem 0 4rem;
}

.post-share .socials {
  display: inline-block;

  li {
    margin-left: .6rem;
  }
}

/*------/ Comments /------*/

.box-comments {
  .list-comments {
    li {
      padding-bottom: 3.5rem;
    }

    .comment-avatar {
      display: table-cell;
      vertical-align: top;

      img {
        width: 80px;
        height: 80px;
      }
    }

    .comment-author {
      font-size: 1.3rem;
    }

    .comment-details {
      display: table-cell;
      vertical-align: top;
      padding-left: 25px;
    }

    .comment-description {
      padding: .8rem 0 .5rem 0;
    }

    a {
      color: #000000;
    }

    span {
      display: block;
      color: #2B2A2A;
      font-style: italic;
    }
  }

  .comment-children {
    margin-left: 40px;
  }
}

@media (min-width: 768px) {
  .box-comments .list-comments .comment-author {
    font-size: 1.5rem;
  }
}

/*======================================
//--//-->   SERVICES - CARD-C
======================================*/

.card-box-c {
  position: relative;
}

@media (max-width: 767px) {
  .card-box-c {
    margin-bottom: 2rem;
  }
}

.card-header-c {
  padding: 0 1rem 1rem 1rem;
}

.card-body-c {
  padding: .5rem .5rem 0 .5rem;
}

@media (max-width: 767px) {
  .card-body-c {
    padding: 0;
  }
}

.card-footer-c {
  padding-left: .5rem;
}

.card-box-ico {
  padding: 1rem 3rem 1rem 2.5rem;
  border: 5px solid #85a6d8;

  span {
    font-size: 4rem;
    color: #000000;
  }
}

.title-c {
  font-size: 2.5rem;
  font-weight: 600;
  margin-left: -40px;
}

@media (min-width: 768px) {
  .title-c {
    font-size: 1.8rem;
  }
}

@media (min-width: 992px) {
  .title-c {
    font-size: 2.5rem;
  }
}

/*======================================
//--//-->   AGENTS - CARD-D
======================================*/

.card-box-d {
  .card-overlay-hover {
    transition: all .2s ease-in-out;
    padding: 15px 40px 15px 35px;
  }

  .title-d {
    transition: .3s ease-in-out;
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem 0;
    transform: translateY(-20px);
    opacity: 0;
  }

  .content-d {
    opacity: 0;
    transition: .5s ease-in-out;
    transform: translateY(-40px);
  }

  .info-agents {
    opacity: 0;
    transition: .5s ease-in-out;
  }

  .card-footer-d {
    transition: .5s ease-in-out;
    transform: translateY(40px);
    opacity: 0;
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
  }

  .list-inline-item:not(:last-child) {
    margin-right: 25px;
  }

  &:hover {
    .card-overlay-hover {
      background-color: #85a6d8;
      opacity: .9;
    }

    .title-d, .content-d, .info-agents, .card-footer-d {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media (min-width: 768px) {
  .card-box-d .card-overlay-hover {
    padding: 5px 15px 5px 10px;
  }
}

@media (min-width: 992px) {
  .card-box-d .card-overlay-hover {
    padding: 5px 40px 5px 35px;
  }
}

@media (min-width: 1200px) {
  .card-box-d .card-overlay-hover {
    padding: 15px 40px 5px 35px;
  }
}

@media (min-width: 768px) {
  .card-box-d .title-d {
    font-size: 1.1rem;
    margin: .5rem 0;
  }
}

@media (min-width: 992px) {
  .card-box-d .title-d {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
}

@media (min-width: 1200px) {
  .card-box-d .title-d {
    font-size: 2rem;
    margin: 1rem 0;
  }
}

@media (min-width: 768px) {
  .card-box-d .content-d {
    font-size: .8rem;
    margin: .5rem 0;
  }
}

@media (min-width: 768px) {
  .card-box-d .card-body-d p {
    margin-bottom: 8px;
    font-size: .8rem;
  }
}

@media (min-width: 992px) {
  .card-box-d .card-body-d p {
    margin-bottom: 12px;
    font-size: 1rem;
  }
}

/*------/ Agent Single /------*/

.agent-info-box .socials-footer {
  margin-top: 2rem;

  li {
    margin-right: 1.5rem;
  }
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

.section-about .title-vertical {
  position: absolute;
  letter-spacing: 0;
  transform: rotate(-90deg);
  top: 50px;
  text-align: left;
  font-size: 1.8rem;
  width: 300px;
  font-weight: 700;
  text-align: right;
}

.about-img-box {
  padding-left: 1rem;
  position: relative;
}

@media (min-width: 576px) {
  .about-img-box {
    padding-left: 4rem;
  }
}

@media (min-width: 768px) {
  .about-img-box {
    padding-left: 5rem;
  }
}

.sinse-box {
  background-color: #85a6d8;
  padding: 1rem 2rem;
  position: absolute;
  left: 15px;
  bottom: 10px;

  .sinse-title {
    font-weight: 700;
    letter-spacing: 0.043em;
    font-size: 1rem;

    span {
      position: absolute;

      &:after {
        content: ' ';
        width: 35px;
        height: 2px;
        background-color: #000000;
        position: absolute;
        bottom: -15px;
      }
    }
  }

  p {
    margin-bottom: 0;
    font-size: .7rem;
  }
}

@media (min-width: 576px) {
  .sinse-box {
    padding: 1.5rem 2.5rem;
    bottom: 20px;
  }
}

@media (min-width: 768px) {
  .sinse-box {
    padding: 1.5rem 3rem;
  }
}

@media (min-width: 992px) {
  .sinse-box {
    padding: 3rem 4.5rem;
  }
}

@media (min-width: 576px) {
  .sinse-box .sinse-title {
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
  .sinse-box .sinse-title {
    font-size: 1.8rem;
  }
}

@media (min-width: 992px) {
  .sinse-box .sinse-title {
    font-size: 2.2rem;
  }
}

@media (min-width: 576px) {
  .sinse-box p {
    font-size: .8rem;
  }
}

@media (min-width: 576px) {
  .sinse-box p {
    font-size: 1rem;
  }
}

/*--------------------------------------------------------------
# Testimonials Section
--------------------------------------------------------------*/

.testimonials-box {
  padding: 1rem 0;

  .testimonial-avatar {
    width: 80px !important;
    display: inline-flex !important;
    border-radius: 50%;
  }
}

.testimonial-ico {
  text-align: center;

  span {
    font-size: 1.8rem;
    background-color: #85a6d8;
    color: #ffffff;
    padding: .4rem 1rem;
    border-radius: 50px;
  }
}

.testimonial-text {
  font-style: italic;
  margin-top: 25px;
  padding: 1.5rem 1.5rem;
  background-color: #f3f3f3;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 25px;
    width: 0px;
    height: 0px;
    border-top: 15px solid #f3f3f3;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  }
}

.testimonial-author-box {
  margin-top: 2rem;
}

.testimonial-author {
  margin-left: 1rem;
  display: inline-flex;
  font-size: 1.2rem;
  color: #000000;
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/

.form-as {
  #sendmessage {
    color: #85a6d8;
    border: 1px solid #26a356;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  #sendmessage.show, #errormessage.show, .show {
    display: block;
  }

  .validation {
    color: red;
    display: none;
    margin: 4px 0 20px 0;
    font-weight: 400;
    font-size: 13px;
  }

  label {
    color: #000000;
    position: relative;
  }

  select.form-control-lg:not([size]):not([multiple]) {
    height: 3.5rem;
  }

  .form-control {
    border-radius: 0;
    font-size: 1.1rem;
    font-weight: 300;

    &.form-control-a {
      height: 3.5rem;
    }

    &:focus {
      box-shadow: none;
      border-color: #85a6d8;
    }
  }
}

.php-email-form {
  .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }

  .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }

  .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }

  .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;

    &:before {
      content: "";
      display: inline-block;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      margin: 0 10px -6px 0;
      border: 3px solid #18d26e;
      border-top-color: #eee;
      -webkit-animation: animate-loading 1s linear infinite;
      animation: animate-loading 1s linear infinite;
    }
  }

  label {
    color: #000000;
    position: relative;
  }

  select.form-control-lg:not([size]):not([multiple]) {
    height: 3.5rem;
  }

  .form-control {
    border-radius: 0;
    font-size: 1.1rem;
    font-weight: 300;

    &.form-control-a {
      height: 3.5rem;
    }

    &:focus {
      box-shadow: none;
      border-color: #85a6d8;
    }
  }
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.section-footer {
  padding-top: 60px;
  margin-top: 60px;
  background: #3063ad;

  ul {
    line-height: 2;
  }

  .item-list-a i {
    font-size: 18px;
    padding-right: 4px;
    color: #85a6d8;
  }

  .widget-a .w-title-a {
    margin-bottom: 1rem;
  }
}

footer {
  background: #3063ad;
  text-align: center;
  padding: 30px 0;

  .copyright-footer {
    border-top: 1px solid #ddd;
    padding-top: 20px;
  }

  .credits {
    font-size: 14px;
  }
}
.about-us-content {
  font-size: 90%;
  text-align: center;
  color: #4f4f4f;
  float: initial;
  font-style: inherit;
}
.about-us-column {
  float: left;
  width: 33%;
}
