<!-- Header -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
   
    <span><a routerLink="/home">MCFAM Realty Buy & Sell</a></span>
  
    <span class="spacer"></span>
  
    <div *ngIf="!authService.isAuthenticated();">
      <app-date-pipe></app-date-pipe>
    </div>
  
    <span class="spacer-light"></span>
  
    <div *ngIf="!authService.isAuthenticated(); else loggedin">
      <button type="button" routerLink="/auth" mat-icon-button>
        <mat-icon>lock_open</mat-icon>
      </button>
    </div>
  
    <ng-template #loggedin>
      <h4>Welcome</h4>
  
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
  
      <mat-menu #menu="matMenu" >
        <a
          mat-menu-item
          [routerLink]="'/profile'">
          <mat-icon class="profile">face</mat-icon>
          <span>Profile</span>
        </a>
  
        <a
          mat-menu-item
          [routerLink]="'/profile'">
          <mat-icon class="profile">description</mat-icon>
          <span>Sell Inquiry</span>
        </a>
  
        <a
          mat-menu-item
          [routerLink]="'/profile'">
          <mat-icon class="profile">description</mat-icon>
          <span>Your Transactions</span>
        </a>
  
        <a
          mat-menu-item
          routerLink="/profile-settings"
          [queryParams]="{profile: '1'}"
          fragment="editProfile">
          <mat-icon class="settings">settings</mat-icon>
          <span>Settings</span>
        </a>
  
        <a mat-menu-item (click)="onLogout()">
          <mat-icon class="logout">lock_outline</mat-icon>
          <span>Logout</span>
        </a>
      </mat-menu>
    </ng-template>

  </mat-toolbar-row>
  <mat-toolbar-row>
    <img [src]="angularImage" style="height: 100px;" >
    <span class="spacer-light"></span>
      <button mat-button routerLink="/home" >
        <span>Home</span>
      </button>
  
    <span class="spacer-light"></span>
      <button mat-button routerLink="/project" >
        <span>Projects</span>
      </button>
    
    <span class="spacer-light"></span>
      <button mat-button routerLink="/about" >
        <span>About Us</span>
      </button>
  
    <span class="spacer-light"></span>
      <button mat-button routerLink="/contact" >
        <span>Contact Us</span>
    </button>

  </mat-toolbar-row>
</mat-toolbar>
