<div id="content">
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">We Do Great Service</h1>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                About
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section><!-- End Intro Single-->

  <!-- ======= About Section ======= -->
  <section class="section-about">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="about-img-box">
            <img src="assets/img/slide-1.jpg" alt="" class="img-fluid">
          </div>
          <div class="sinse-box">
            <h3 class="sinse-title">MCFAM Reality
              <span></span>
              <br> Since 2019</h3>
            <p>Property Buy and Sell</p>
          </div>
        </div>
        <div class="col-md-12 section-t8">
          <div class="row">
            <div class="col-md-6 col-lg-5">
              <img src="assets/img/property-1.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-2  d-none d-lg-block">
              <div class="title-vertical d-flex justify-content-start">
                <span>MCFAM Reality</span>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 section-md-t3">
              <div class="title-box-d">
                <h3 class="title-d">Company Profile
                  <span class="color-d"></span> 
                  </h3>
              </div>
              <p class="color-text-a">
                MCFam Realty offers a complete portfolio of real estate services, including sales and leasing 
                of commercial and residential property, investment sales and acquisitions, project sales and 
                marketing, property consultancy, mortgage services, interior decoration & design, and 
                relocation services. We conduct research studies and valuation surveys upon request. With 
                its humble beginning being a partner-marketing arm of Olryt Marketing and Development Inc., 
                MCFam Realty ventured on its own last February of 2019 to continuously deliver its impeccable 
                services to its clients. Imbued and driven with its mission and vision of creating outstanding 
                communities that enrich the lives and values of the families, we guide and give advises to 
                individuals, families and corporates on growth strategies and real estate investment opportunities 
                in current and new markets. MCFam Realty has a professional and committed team of sales and leasing
                 property advisors, all of whom are PRC registered and certified brokers and sellers.
              </p>
              <p class="color-text-a">
                Michael C. Canino, CEO and founder of MCFam Realty,opened the doors of his real estate 
                company in 2019. Bringing with him over 16 years’ experience in the real estate industry 
                being a broker partner of top developers like Ayala Land Inc., DMCI Homes, 
                SM Prime Holdings Inc., Megaworld Corporation, Filinvest Land Inc., Vista Land and 
                Lifescapes Inc., Robinsons Land Corporation, Federal Land Inc., Shang Properties Inc., 
                Century Properties Group Inc., Anchor Land Holdings Inc., Cathayland Inc., and others. 
                With an extensive portfolio of accomplishments, he has focused his energy, experience and 
                expertise into his firm, through which he offers an extensive portfolio of real estate 
                services.
              </p>
            </div>
            <div class="row">
                <div class="about-us-column">
                    <div class="about-us-content">
                        <h2>- Our Mission -</h2>
                        <p>We are committed to provide an outstanding level of
                        service, excellence and expertise in the real estate market
                        to our clients and fellow real estate service practitioners
                        who we both consider as part of our family.
                        </p>
                        <p>To act in the best interest of our clients at all times, by
                        offering unquestionable ethics on all transactions and to
                        develop long-lasting relationships with our clients by
                        offering exceptional service and utmost customer satisfaction</p>
                    </div>
                </div>
            
                <div class="about-us-column">
                    <div class="about-us-content">
                        <h2>- Our Vision -</h2>
                        <p>Our vision is to achieve the highest possible
                        standards of the real estate market while
                        establishing MCFam Realty as the premier and
                        preferred all-in-one real estate service provider in 
                        the Philippines</p>
                    </div>
                </div>
            
                <div class="about-us-column">
                    <div class="about-us-content">
                        <h2>- Our Values -</h2>
                        <p>Commitment</p>
                        <p>Honesty</p>
                        <p>Respect</p>
                        <p>Integrity</p>
                        <p>Social Responsibility</p>
                        <p>Teamwork</p>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
    